
body{
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* common styles for all  */
.paragraph-default{
    font-size: 20px;
    color: #534C64;

}
.btn-primary{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: white;
}
.btn-secondary{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    background-color: #4EC5F7;
    color: white;
    margin-left: 24px;
}

.text-pink{
    color: #FF42A5;
}
.text-title{
    font-size: 48px;
}
.fa-icon-color{
    color: red;
}


.fa-icon-space{
    margin-left: 5px;  
} 
/* styles for navigation bar start here  */
.nav-bar{
    max-width: 1920px;
height: 130px;
display: flex;
justify-content:space-around;
align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    
}
.logo img{
    height: 40px;
}
.logo h2{
    font-size: 45px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

li {
    text-align: center;
    padding: 10px;
    margin: 5px;
    display: block;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
/* styles for top banner starts here  */
.top-banner-container{
    display: flex;
    justify-content: space-around;
}
.top-banner-heading{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}
.top-banner-title{
    margin: 0;
    font-size: 6rem;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}



.top-banner-description{
    background-image: url('../images/Group\ 14.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.info-container{
    margin: 24px 0 40px 0;
}
.text-container{
    text-align: start;
}
.top-banner-img{
    width: 50%;
}

/* styles for online games starts here  */
.online-game-description{
    text-align: center;
    margin-top: 2rem;
}
.online-game-title{
    font-size: 3rem;
    margin: 0;
}


.games-container{
    max-width: 1920px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;

}
.game{
    width: 21rem;
}



/* styles for video option on hover of an image start here  */
.video-container {
    position: relative;
    overflow: hidden;
    
}

.video-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;
    border: 4px solid transparent; 
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.video-container:hover img {
    filter: brightness(0.3); /* Darken the image on hover */
    cursor: pointer;
    border: 4px solid #FF42A5; /* Add border on hover */
    border-radius: 1rem; /* Apply border-radius on hover */
}

.video-container:hover .play-button {
    opacity: 1; /* Show play button on hover */
    cursor: pointer;
    
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container i {
    color: white; /* Set the icon color to white */
}


/* styes for featured game  */
.featured-game{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    
}
.featured-game-description{
    text-align: center;
}
.featured-info-container{
    width: 22rem;
    margin: 0 auto;
}

.featured-img-container{
    position: relative;
   
}
.img-overlap{
    position: absolute;
    top: 22rem;
    left: -9rem;
}


/* styles for game card container starts here  */
.game-card-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    height: 26rem;
    margin-top: 7rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.game-cards{
    width: 260px;
height: 80px;
border: 1.5px solid transparent;
background-color: white;
border-radius: 50px;
margin-right: 25px;

}
.game-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.game-cards :hover{
    border: 1.5px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    
}
.game-card :hover{
    border: none;
}

.game-name{
    font-size: 20px;
    font-weight: 600;
}
.game-row-container{
    height: 100%;
}
.game-row-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.game-row-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.centered-cards {
    justify-self: center;
}


/* Responsive media query code  */
@media screen and (max-width: 576px) {
    body{
        max-width: 1112px;
        margin: 0 auto;
    }
    .nav-bar{
        flex-direction: column;
        height: auto;
    }
    .logo h2{
        font-size: 30px;
    }
    ul {
        flex-direction: column;
        text-align: center;
    }
    .top-banner-container{
        flex-direction: column-reverse;
    }
    .top-banner-img{
        width: 100%;
    }
    .top-banner-img img{
        width: 100%;
    }
    .top-banner-description{
        width: 100%;
    }
    .games-container{
        flex-direction: column;
        align-items: center;

    }
    .featured-game{
        flex-direction: column;
    }
    .featured-img-container img{
        width:90%;
        margin-left: 10%;
    }
    .img-overlap{
        position: relative;
        top: 28rem;
        left: -2rem;
        width: 50%;
        max-width: 10rem;
    }
}
